li
  display inline-block
  float right
  cursor pointer

.login-btn
  text-transform uppercase
  border-radius 2px
  border 1px solid #C4C9CD
  color #C4C9CD
  padding 3px
  margin-right 10px

.user
  width 16px
  height 16px
  background url("/assets/img/user-icon.svg")
