img
  width 100%
  border-radius 2px

h1
  width 100%
  text-align center

.likes
  padding-left 25px
  background url("/assets/img/like.svg") no-repeat top left
  float right

.article
  margin-bottom 20px
