<div class="container container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h1>{{title}}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
      <h2>Имя</h2>
      <h3>E-mail</h3>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
      <ul>
        <li  class="nav-item" >Профиль</li>
        <li  class="nav-item" [routerLink]="['../profile-editor']">Настройки профиля</li>
      </ul>
    </div>
  </div>
</div>
