.search-block
  padding 20px 0
  background #2f7681
  margin-bottom 30px

input
  width 100%
  height 42px
  border-radius 2px
  outline none
  border none
  background url("/assets/img/search.svg")
  background-repeat no-repeat
  background-position 98% 50%
  background-color #FFF
  text-align center
